<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="system.a">
	<insert id="insert_Shop" parameterType="business_client.Shop">
		  INSERT INTO Shop
	      values(shop_no_seq.NEXTVAL, #{shop_name},#{shop_address},#{operation_hour},#{shop_phone},
	      #{title},0,1,' ')
	</insert> 
	
	<select id="shopList" parameterType="String" resultType="business_client.Shop">
	select * from shop where bs_no = #{bs_no}
	</select>
	
	<update id="shopUpdate" parameterType="business_client.Shop">
		update shop
		set shop_name=#{shop_name}, shop_address=#{shop_address},operation_hour=#{operation_hour}, 
			shop_phone = #{shop_phone}
		where shop_no= #{shop_no}
	</update>
	
	<delete id="shopdelete" parameterType="String">
	delete from shop where shop_no = #{shop_no}
	</delete>
	
	
</mapper>	